<div id="app">
  <h2>Reviews</h2>
  <div v-for="review in reviews" v-if="isPositive(review.text)">
    <h3>{{ review.text }}</h3>
    <h5>Rating: {{ review.rating }}</h5>
    <h5>Reviewer: {{ review.reviewer }}</h5>
    <br>
  </div>
  <div>
    Text: <input type="text" v-model="newReviewText">
    Rating: <input type="text" v-model="newReviewRating">
    Reviewer: <input type="text" v-model="newReviewReviewer">
    <button v-on:click="addReview()">Add Review</button>
  </div>
</div>








